<template name="rest_main_page">
  <div class="container">
    <h3>PayPal REST API</h3>
    <ul>
      <li><a href="/restapi/payment">Payment</a></li>
      <li><a href="/restapi/sale">Sale</a></li>
      <li><a href="/restapi/refunds">Refunds</a></li>
      <li><a href="/restapi/authorizations">Authorizations</a></li>
      <li><a href="/restapi/captures">Captures</a></li>
      <li><a href="/restapi/billing_agreement">Billing Plans and Agreements</a></li>
      <li><a href="/restapi/orders">Orders</a></li>
      <li><a href="/restapi/vault">Vault</a></li>
      <li><a href="/restapi/identity">Identity</a></li>
      <li><a href="/restapi/invoicing">Invoicing</a></li>
      <li><a href="/restapi/payment_experience">Payment Experience</a></li>
      <li><a href="/restapi/webhook">Notifications</a></li>
    </ul>
  </div>
</template>